<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="assets/js/controllers/hello.js"></script>
    <script type="text/javascript" src="assets/js/controllers/contact.js"></script>
    <script type="text/javascript" src="assets/js/controllers/checkin.js"></script>
    <script type="text/javascript" src="assets/js/controllers/geolocation.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <title></title>
    <meta charset="utf-8">
  </head>

  <body>

    <form ng-controller="checkinFormController" ng-submit="submit()">
      <input type="text" name="lat" ng-model="lat" ng-disabled="geolocationIsSupported" placeholder="Latitude"/>
      <input type="text" name="lng" ng-model="lng" ng-disabled="geolocationIsSupported" placeholder="Longitude"/>
      <input type="submit" name="name" value="CheckIN!" ng-disabled='loading'/>
      <span ng-if="loading"> Chargement en cours </span>
    </form>

    <div ng-view></div>

    <!--<form ng-controller="checkinAdress" ng-submit="submit()">
      <input type="text" name="lat" ng-model="lat" ng-disabled="geolocationIsSupported" placeholder="Latitude"/>
      <input type="text" name="lng" ng-model="lng" ng-disabled="geolocationIsSupported" placeholder="Longitude"/>
      <input type="submit" name="name" value="CheckIN!" ng-disabled='loading'/>
      <span ng-if="loading"> Chargement en cours </span>
    </form>-->


<!--
    <form ng-controller="geolocationController" ng-submit="submit()">
      <input type="submit" name="name" value="CheckIN!"/>
    </form>
-->

    <!--
    <div ng-controller="helloController as helloCtrl">
      <label>Name:</label>
      <input type="text" ng-model="yourName" palceholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
        <p>{{helloCtrl.AfficheLongueur(yourName)}}</p>
        <p>{{helloCtrl.inverseChaine(yourName)}}</p>
        <ul>
          <li ng-repeat="lettre in helloCtrl.splitToLIst(yourName) track by $index">{{lettre}}</li>
        </ul>
        <p>{{helloCtrl.splitToLIst(yourName)}}</p>
    </div>

    "<div ng-controller="contactController as contactCtrl">
      <div ng-repeat="contacts in contactCtrl.contacts">
        <h3 ng-bind="contacts.name"></h3>
        <p ng-bind="contacts.phone"></p>
        <hr>
      </div>
    </div>"
    -->


<!--
    <div ng-controller="checkinController as checkinCtrl">
      <ul>
        <li ng-repeat="checkin in checkins">{{checkin.id}}</li>
      </ul>
    </div>
-->


  </body>
</html>
