<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="assets/js/controllers/hello.js"></script>
    <script type="text/javascript" src="assets/js/controllers/contact.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>

    <title></title>
    <meta charset="utf-8">
  </head>
  <body>
    <div ng-controller="helloController as helloCtrl">
      <label>Name:</label>
      <input type="text" ng-model="yourName" palceholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
      <p>{{helloCtrl.AfficheLongueur(yourName)}}</p>
      <p>{{helloCtrl.inverseChaine(yourName)}}</p>
      <ul>
        <li ng-repeat="lettre in helloCtrl.splitToLIst(yourName) track by $index">{{lettre}}</li>
      </ul>
      <p>{{helloCtrl.splitToLIst(yourName)}}</p>
    </div>

    <div ng-controller="contactController as contactCtrl">
      <div ng-repeat="contacts in contactCtrl.contacts">
        <h3 ng-bind="contacts.name"></h3>
        <p ng-bind="contacts.phone"></p>
        <hr>
      </div>
    </div>

    <div >

    </div>
  </body>
</html>
